header{
    min-height: 100px;
    background-color: #fcdb00 !important;
}

.custom_nav{
    margin-top: 30px;
}
.custom_nav ul li a{}


.slider{
    padding: 40px 0;
    min-height: 600px;
    background-color: #fcdb00 !important;
}
.slider_text{
    padding: 40px 0;
}
.slider_text h1{
    font-size: 25px;
    padding: 20px 0;
    padding: 20px 0;
}
.slider_text h2{
    font-size: 18px;
    padding: 20px 0;
}
.slider_text p{
    font-size: 15px;
    padding: 20px 0;
}

.img_carosal{
    padding: 40px 0;
}

.features{
    padding: 40px 0;
}
.features_head{}
.features_head h1{
    font-size: 25px;
    font-weight: bold;
}
.features_head h2{
    font-size: 18px;
    font-weight: normal;
}
.features_body{
    padding: 30px 0;
}
.img_body{
    position: absolute;
}
.body_text{
    margin-left: 50px;
}
.body_text h1{
    font-size: 20px;
    font-weight: bold;
}
.body_text p{
    font-size: 16px;
    font-weight: normal;
}

footer{
    min-height: 750px;
    background-color: #010101;
    padding: 40px 0;
}
.footer_head{}
.footer_text{}
.footer_text h1{
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: #fcdb00;
}
.footer_text h3{
    padding: 15px 0;
   font-size: 15px;
    font-weight: normal;
    color: whitesmoke; 
}
.buttons{
    padding: 40px 0;
}
.custom_btn{
    padding: 9px;
    margin-top: 20px;
    width: 35%;
}

.custom_btn2{
        padding: 11px;
    background-color: #fcdb00;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.down_icons{
    padding: 40px 0;
}









